the raw  <%= link_to "data", data_path  %> is over here <br />

input your preferred statistic weights

<%= form_for :userweight, @userweight, :url => {:action => "create"} do |f| %>
<div>
  <%= f.label :winweight, "Win Percentage" %><br />
  <%= f.select :winweight, [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80] %>
</div>
<div>
  <%= f.label :ypgweight, "Yards Per Game" %><br />
  <%= f.select :ypgweight, [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50] %>
</div>
<div>
  <%= f.label :yppweight, "Yards Per Play" %><br />
  <%= f.select :yppweight, [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50] %>
</div>
<div>
  <%= f.label :tdweight, "Touchdowns" %><br />
  <%= f.select :tdweight, [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50] %>
</div>
<div>
  <%= f.submit "Ranky Rank Rank!" %>
</div>

<% end %>

