<head>
<title>Welcome to Ranker</title>
</head>

<div class="pull-4">
Choose a weight value for each stat, from zero points to five.

<p>Zero value stats will be ignored.

<p>Stats are calculated based on their relative rank- If the best team has 1000
yards, and the second best team has only 850, the difference is included in the
calculations.

<br />
<% if @error != nil %>
  <%= @error %>
<% end %>

<%= form_for :userweight, @userweight, :url => {:action => "create"} do |f| %>

<div>
  <%= f.label :winweight, "Win Percentage Importance" %><br />
  <%= f.select :winweight, [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10] %>
</div>

<h1>Offensive Stats</h1>
<h2>Total Offense</h2>
<div>
  <%= f.label :ypgweight, "Offense: Yards Per Game" %><br />
  <%= f.select :ypgweight, [0, 1, 2, 3, 4, 5] %>
</div>
<div>
  <%= f.label :yppweight, "Offense: Yards Per Play" %><br />
  <%= f.select :yppweight, [0, 1, 2, 3, 4, 5] %>
</div>
<div>
  <%= f.label :tdweight, "Offense: Touchdowns" %><br />
  <%= f.select :tdweight, [0, 1, 2, 3, 4, 5] %>
</div>
<!-- ><h2>Passing Offense</h2>
<h2>Rushing Offense</h2><-->
<h1>Defensive Stats</h1>
<h2>Total Defense</h2>
<div>
  <%= f.label :dypgweight, "Defense: Yards Per Game" %><br />
  <%= f.select :dypgweight, [0, 1, 2, 3, 4, 5] %>
</div>
<div>
  <%= f.label :dyppweight, "Defense: Yards Per Play" %><br />
  <%= f.select :dyppweight, [0, 1, 2, 3, 4, 5] %>
</div>
<div>
  <%= f.label :dtdweight, "Defense: Touchdowns" %><br />
  <%= f.select :dtdweight, [0, 1, 2, 3, 4, 5] %>
</div>


<div>
  <%= f.submit "Rank!" %>
</div>

<% end %>
</div>

