<table>
<tr>
<td>Team</td>
<td>Games
<td>W</td>
<td>L</td>
<td>Win %</td>
<td>Total Yards</td>
<td>Yards Per Game</td>
<td>Yards Per Game RR</td>
<td>Total Plays</td>
<td>Yards Per Play</td>
<td>Touchdowns</td>
</tr><% totals = 0 %>
<% @allteams.each do |allteam| %>
<tr>
<td><%= allteam.team %></td>
<td><%= allteam.games %></td>
<td><%= allteam.wins %></td>
<td><%= allteam.losses %></td>
<td><%= sprintf("%.3f",allteam.winpct) %></td>
<td><%= allteam.yards %></td>
<td><%= allteam.yardspergame %></td>
<td><%= sprintf("%.4f",allteam.yardspergamerr) %>
<td><%= allteam.plays %></td>
<td><%= allteam.yardsperplay %></td>
<td><%= allteam.touchdowns %></td>
<% totals += allteam.yards %>
<% end %>
</tr>
<tr>
<td></td>
<td></td>
<td></td>
<td><%= totals %></td>
<td></td>
<td></td>

</table>

